.stepNumber {
    font-size:28pt; 
    font-weight:bold;
    color:#777;
    vertical-align:top;
}

#troubleDescription {
    width:503px;
    height:180px;
}

#troubleshootTable {
    margin-bottom:15px;
}

#troubleAction {
    padding-top:5px;
}